@font-face {
    font-family: 'Cooper';
    src: url(../Item/assets/CooperHewitt-Medium.ttf);
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 10px;
    text-align: center;

    width: 300px;
    height: 400px;
}

.card-img-top{
    width: 200px;
}

.boton-item{
    font-family: 'Cooper Hewitt Semibold';
border-radius: 5px, solid, blue;
    margin: 10px;
    background-color: #9cafb7;
}

.Option{
    font-family: 'Cooper';
    font-size: 20px;
    text-decoration: none;
    color: #2d6096;
    margin: 5px;
    border-radius: 2px solid #808cb4;
    background-color: #9cafb7;
}